*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

@media only screen and (max-width:600px){
    .header-top{
        display: none;
    }
    .nav-logo{
        font-size: 2vw;
    }
    .container{
        display: inline-block;
        width: 50%;
    }
    /* SE MODIFICA ESTA CLASE */
    .nav-menu{
        /* display: none; */
    }
    /* TAMBIEN SE MOFICA LA HAMBURGUESA */
    #hamburguesa {
        order: 1;
        /* display: flex; */
        margin-left: 20px;
        cursor: pointer;
    }
    .container {
        display: flexbox;
        margin: top 1px;
        background-color: white;
        flex-direction: column;
        height: 100px;
        padding: 2%;
        gap: 10px 15px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #principal-container {
        position: inherit;
    }
    /* AGREGADO */
    .item{
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
    }

    .item.active {
        display: block;
    }
}