*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

@media only screen and (max-width:600px){

    .ham {
       display: flex;
       position: fixed;
       bottom: 0;
    }

    .myDIV{
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .header-top{
        display: none;
    }
    .div-body {
        box-sizing: border-box;
    }

    .nav-logo{
        font-size: 16px;
    }

    .div-logo a{
        font-size: 16px;
        background-color: #646b63
    }
    /* SE MODIFICA ESTA CLASE */
    .nav-menu{
        display: none;
    }

    .container {
        display: flex;
        margin: top 1px;
        background-color: white;
        flex-direction: column;
        width: 100%;
        padding: 2%;
        gap: 10px 15px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #principal-container {
        position: inherit;
    }
    /* AGREGADO */
    .item{
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
    }

    .item.active {
        display: block;
    }

    .section-bottom, p {
        display: none;
    }
    #footer-index, h3 {
        display: relative;
        bottom: 0;
    }
    .imagen1 {
        display: none;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;       
    }
    .boton {
        display: flex;
    }
}