@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header-top{
  background-color: #438c67;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 1,5vw;
  cursor:pointer;
  color: black;
  font-style:normal;
  font-weight: 600px;

}

#instagram.logo:hover {
  color: white;
}

#header{
  padding: 0%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  padding: 15px 40px;
  display: block;
  
}

.logo {
  width: 140px;
  margin-left: center;
  justify-content: center;
}

.div-logo{
  align-items: center;
  overflow: hidden;
  background-color: #333;
  font-family: 'Josefin';
}

.div-logo a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.div-logo a:hover {
  color: black;
  background-color: whitesmoke;
}

.dropdown {
  float: left;
  overflow: visible;
  flex-wrap: wrap;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-logo{
  background-color:rgb(204, 214, 113);
  display: flex;
  height: 100%;
}

.nav-logo h1 {
  color: whitesmoke;
  list-style: none;
  display: flex;
  padding: 10px;
  font-size: 3vw;
  
}

#hamburguesa {
  display:flex;
}

.nav-logo img {
  align-items: center;
  display: flex;
}
/* SE MOFIDICA
.nav-menu{
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 1px;
}
.nav-menu li {
  list-style: none;
  display: flex;
  padding: 5px;
  align-content: flex-start;
}

.nav-menu li a {
  justify-content: center;
  text-decoration: none;
  color: black;
  position: flex;
  padding: 15px;
}

.nav-menu li a:hover {
  cursor: pointer;
  background-color: white;
}
*/

.active {
  display: inline;
}


#principal{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

#principal-container {
  display: flex;
  flex-direction: row;
  border: 1px;
  align-content: center;
}

.container {
  display: flex;
  margin: top 1px;
  background-color: white;
  flex-direction: row;
  padding: 2%;
  gap: 10px 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.boton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    overflow: default;
    background-color: #99c3ee;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Josefin';
    font-weight: bold;
    position: relative;
}

.boton:hover {
  cursor: pointer;
  background-color: #438c67;
}

.section-bottom p{
  background-color: #438c67;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Josefin Sanz';
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.section-bottom-envios {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.footer{
    color: black;
    background-color:whitesmoke;
    padding: 1px;
    align-items: center;
    position: static;
}

#footer-index{
  background-color: whitesmoke;
  position: absolute;
}

#carrito:hover{
  font-size: 20px;
  color: #438c67;
}

h1:hover{
  cursor: pointer;
  display: flex;
}

.form{
  display: block;
  justify-content: center;
}

.imagen1{
  height: 200px;
  overflow: hidden;
  flex-wrap: wrap;
}
.imagen1:hover {
  cursor: pointer;
  transform: scale(2);
}


.imagen2{
  height: 200px;
  flex-wrap: wrap;
}
.imagen2:hover {
  cursor: pointer;
  transform: scale(2);
}

.imagen3{
  height: 200px;
  flex-wrap: wrap;
}

.imagen3:hover {
  cursor: pointer;
  transform: scale(2);
}


.imagen4{
  height: 200px;
  flex-wrap: wrap;
}

.imagen4:hover {
  cursor: pointer;
  transform: scale(2);
}

.imagen5{
  height: 200px;
  flex-wrap: wrap;
}
.imagen5:hover{
  cursor: pointer;
  transform: scale(2);
}

.imagen6{
  height: 200px;
  flex-wrap: wrap;
}

.imagen6:hover{
  cursor: pointer;
  translate: (-50px -100px);
  transform: scale(2);
}
.caja6-div-image{
  height: 50px;
  cursor: progress;
}

.border1 {
  width: 100px;
  border: 3px solid black;
}
.border2 {
  width: 90px;
  background-color: white;
  border: 3px solid black;
}