*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

@media only screen and (max-width:768px){
    .header-top{
        display: flex;
    }

    #header {
        display: none;
    }
    .nav-logo{
        font-size: 16px;
        display: none;
    }
    .nav-logo{
        font-size: 16px;
    }

    .div-logo a{
        font-size: 16px;
        background-color: #646b63
    
    .container{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .section-bottom p {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    .section-bottom-envios{
        display: none;
    }

    .boton{
        position: relative;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        display: none;
        position: relative;

    }

    .imagen1 {
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagen2 {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .imagen3 {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .imagen4 {
        display: inline-block;
        flex-direction: column;
    }
    .imagen5 {
        display: inline-block;
        flex-direction: column;
    }
    .imagen6 {
        display: inline-block;
        flex-direction: column;
    }

}