*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

@media only screen and (max-width:768px){
    .header-top{
        display: none;
    }
    .nav-logo{
        font-size: 2vw;
    }
    .container{
        display: flex;
    }
    /* SE MODIFICA
    .nav-menu{
        display: none;
        */
    }
    #hamburguesa {
        display: flex;
        margin-left: 20px;
        cursor: pointer;
    }
    /* SE AGREGA */
    .item {
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
    }

    .item.active {
        display: block;
    }

    .section-bottom p {
        display: flex;
        flex-direction: row;
        position: relative;
    }